.data_table{
    height: 500px;
    width: 100%;
    padding: 20px;

    .data_table_title{
        width: 100%;
        font-size: 24px;
        color: gray;
        margin-bottom: 10px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .link{
            color: green;
            font-size: 16px;
            font-weight: 400;
            padding: 5px;
            border: 1px solid green;
            border-radius: 5px;
            cursor: pointer;
        }
    }

    .cell_with_image{
        display: flex;
        align-items: center;

        .cell_image{
            width: 32px;
            height: 32px;
            border-radius: 50%;
            object-fit: cover;
            margin-right: 20px;
        }
    }

    .cell_with_status{
        padding: 5px;
        border-radius: 5px;

        &.active{
            background-color: #77ee77c7;
            color: green;
        }
        &.pending{
            background-color: #f8f8b9d2;
            color: #9c5e00;
        }
        &.passive{
            background-color: #ffe6e6;
            color: red;
        }
    }

    .cell_action{
        display: flex;
        align-items: center;
        gap: 15px;

        .view_btn{
            padding: 2px 5px;
            border-radius: 5px;
            color: darkblue;
            border: 1px solid rgba(0, 0, 139, 0.247);
            cursor: pointer;
        }
        
        .delete_btn{
            cursor: pointer;
            padding: 2px 5px;
            border-radius: 5px;
            color: crimson;
            border: 1px solid rgba(220, 20, 60, 0.247);
        }
    }
}