.home {
    display: flex;

    .home_container {
        flex: 6;

        .widgets, .chart_container {
            display: flex;
            gap: 20px;
            padding: 10px;
        }

        .chart_container{
            padding: 5px 20px;
        }

        .list_container{
            padding: 20px;
            margin: 20px;
            box-shadow: 2px 2px 4px lightgray, -1px -1px 3px lightgray;
            -webkit-box-shadow: 2px 2px 4px lightgray, -1px -1px 3px lightgray;

            .list_title{
                font-weight: 600;
                font-size: 16px;
                color: gray;
                margin-bottom: 15px;
            }
        }
    }
}
