.widget {
    display: flex;
    flex: 1;
    padding: 10px;
    justify-content: space-between;
    box-shadow: 2px 2px 4px lightgray, -1px -1px 3px lightgray;
    height: 130px;
    margin-top: 8px;

    .left, .right{
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .title {
            font-size: 14px;
            font-weight: 600;
            color: rgb(160, 160, 160);
        }

        .counter{
            font-size: 28px;
            font-weight: 300;
        }

        .link{
            font-size: 12px;
            border-bottom: 1px solid gray;
            width: max-content;
            position: relative;
            transition: all 1s ease;

            &::after{
                content: "";
                position: absolute;
                left: 0;
                bottom: -1px;
                width: 0;
                height: 1px;
                background-color: gray;
                transition: all 1s ease;
            }

            &:hover{
                color: #6439ff;
                border-bottom: none;
            }

            &:hover::after{
                width: 100%;
            }
        }

        .percentage{
            display: flex;
            align-items: center;
            font-size: 14px;

            &.positive{
                color: rgb(0, 255, 0);
                font-weight: 600;
            }
            &.negative{
                color: rgb(255, 0, 0);
                font-weight: 600;
            }
        }

        .icon{
            font-size: 28px;
            padding: 5px;
            border-radius: 5px;
            align-self: flex-end;
        }
    }
}
