:root{
    --pry-font-fam: 'Poppins', sans-serif;
    --header-font-fam: 'Nunito Sans', sans-serif;
    --nav-bar-color: rgb(0,131,37);
    --side-bar-color: rgb(255,255,255);
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: var(--pry-font-fam);
}

li{
    list-style: none;
}

a{
    text-decoration: none;
}